/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #8290f7;
}

h2 {
    color: #ff7ac1;
}

img {
    width: 300px;
    height: 200px;
}


.horizontal-list {
    list-style-type: bullets; /* Add bullets */
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox to arrange items horizontally */
}

.horizontal-list li {
    margin-right: 20px; /* Space between list items */
}

/* Optional: Remove margin from the last item */
.horizontal-list li:last-child {
    margin-right: 0;
}