/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.h1 {
    color: #8290f7;
    justify-content: center; /* Center the text */
}

.h2 {
    color: #ff7ac1;
    justify-content: center; /* Center the text */
}